<div id="content-wide">
    <div class="article-show">
      <h1><%= @article.name %></h1>
      <em><%= (@article.created_at).strftime("%a %b %Y") %></em>
      <% if !@article.image.blank? && !@article.image["youtube"]%>
      <a href="<%= @article.image %>" class="img-wrap"> <img src="<%= @article.image %>" alt="<%= @article.name %>"> </a>
      <% elsif @article.image["youtube"] %>
      <div class="video_wrap">
        <iframe src="<%= @article.image %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <% end %>
      <div class="article_content"> <%= markdown(@article.content) %> </div>
      <% if user_signed_in? %>
      <%= link_to "Edit Article", edit_article_path(@article) %>
      <%= link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
</div>
