<div class="container">
  <div class="grid grid-big">
    <h1>Hi, I'm Telnair</h1>
    <img src="http://i.imgur.com/Fe6oxLL.png" alt="Icon of mine">
    <p>I’m an enthusiastic learner and spend my time coding, designing, drawing, creating illustrations, videos, playing guitar and basketball. I’m also a student at the faculty of translation for English and German languages. My biggest desire is the day to have more hours and to have enough energy to accomplish all of my plans.</p>
  </div>
  <div class="grid grid-small">
    <h1>Latest Articles</h1>
    <% @articles.each do |a| %>
    <div class="article">
      <a href="<%= article_path(a) %>">
        <h1><%= truncate(a.name, length: 15) %></h1>
      </a>
    </div>
    <% end %>
    <%= link_to "See more", articles_path %>
  </div>
  <div class="grid grid-small">
    <h1>Latest Work</h1>
    <% if @works %>
      <% @works.each do |work| %>
      <a href="<%= work_path(work) %>" class="work-last">
        <div class="work_wrapper work_wrapper_home">
        <img src="<%= work.thumbnail %>" alt="<%= work.name %>">
        </div>
        <cite><%= work.name %></cite>
      </a>
      <% end %>
      <%= link_to "See more", works_path %>
    <% else %>
      <p> No works were added yet... </p>
    <% end %>
  </div>
</div>
