<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Telnair's blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <div class="logo"><%= link_to "Telnair's Blog", root_path %></div>
    <div class="forum-link"><a href="mailto:telnairworld@gmail.com">Contact Me</a></div>
  </header>
  <nav>
    <% Category.all.each do |c| %>
    <% if c.id == 1 %>
      <%= link_to c.name, articles_path(c: c.name) %>
    <% else %>
      <div class="separator"></div>
      <%= link_to c.name, articles_path(c: c.name) %>
    <% end %>
    <% end %>
  </nav>

  <%= yield %>

  <footer>
    <hr>
    <p>&copy Telnair 2015, All rights reserved</p>
  </footer>

</body>
</html>
