<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="uYkNcWlK-nLZzWNrN0jmdPNN9aO2zAnMehrjUsnIrEY" />
  <title>Telnair</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <div class="logo"><%= link_to "Telnair", root_path %></div>
    <div class="forum-link"><a href="#">Menu</a></div>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Blog", articles_path %>
      <%= link_to "Work", works_path %>
      <a href="mailto:telnairworld@gmail.com">Contact</a>
    </nav>
  </header>

  <%= yield %>

  <footer>
    <hr>
    <p>&copy telnairworld 2016, All rights reserved</p>
  </footer>

</body>
</html>
